POSTGRES_USER=sushank
POSTGRES_PASSWORD=change-me
POSTGRES_DB=aicpapp

DB_URL=postgresql+psycopg://sushank:change-me@postgres:5432/aicpapp
SECRET_KEY=change-me
ALGORITHM=HS256

REDIS_HOST = redis
REDIS_URL=redis://redis:6379/0


USE_CELERY = true
USE_REDIS = true
RUN_MIGRATIONS=false